@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
}


h1 {
    color: #fff;
}

.screen {
    cursor: pointer;
    width: 60%;
    background-color: #333!important;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.controls {
    background: #333;
    color: #fff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 60%;
}
.controls .btn {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.controls .fa-play {
    color: #27a745;
}
.controls .fa-stop {
    color: #dc3545;
    margin-right: 1rem;
}
.controls .timestamp {
    color: #fff;
    font-weight: bold;
    margin-left: 1rem;
}
.controls .progress {
    background: transparent;
    border: none
}
@media (max-width: 800px) {
    .screen,
    .controls {
        width: 90%;
    }
}