@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;600;700&display=swap');

:root {
    --clr-bg: #ffefea;

    --clr-green: #2ecc71;
    --clr-red: #c0392b;

    --box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0.14);

}


html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    background-color: var(--clr-bg) ;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3.5rem;
    letter-spacing: .5px;
    text-align: center;

}

p {
    font-size: 2rem
}

.container {
    margin: auto;
    padding: 2rem;
}

.btn {
    cursor: pointer;
    background-color: darksalmon;
    border: 0;
    border-radius: .5rem;
    color: #fff;
    font-size: 1.6rem;
    padding: .8rem 1rem;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,.12);
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus,
select:focus {
    outline: none;
}

.btn-toggle {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}

.text-box {
    width: 70%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -80rem);
    background-color: #333;
    color: #fff;
    padding: 2rem;
    border-radius: .5rem;
    transition: all .5s ease-in-out;
}

.text-box.show {
    transform: translate(-50%, 0)
}

.text-box select {
    background-color: darksalmon;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    height: 3rem;
    width: 100%;
    border-radius: .4rem;
}

.text-box textarea {
    border: 1px #dedede solid;
    border-radius: .4rem;
    font-size: 1.6rem;
    padding: .8rem;
    margin: 1.5rem 0;
    width: 100%;
    height: 15rem;
}

.text-box .btn {
    width: 100%;
}

.text-box .close {
    float: right;
    text-align: right;
    cursor: pointer;
}

.text-box .close i {
    font-size: 2.5rem;
    transform: rotateY(0deg)
}

.text-box .close i:active {
    animation: rotate .05s infinite;


}

@keyframes rotate {
    0% {
        transform: scale(0.98), rotateZ(0deg);
    }
    50% {
        transform: rotateZ(45deg)
    }

    100% {
        transform: rotateZ(360deg)
    }
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.box {
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    cursor: pointer;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: box-shadow .2s ease-out;
}

.box.active {
    box-shadow: 0 0 10px 5px darksalmon;
}

.box img {
    width: 100%;
    object-fit: cover;
    height: 20rem;
}

.box .info {
    background-color: darksalmon;
    color: #fff;
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    padding: 1rem;
    text-align: center;

}

@media(max-width: 1100px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 480px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }
}

