@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;600;700&display=swap');

:root {
    --clr-ppal: #000000;

    --clr-green: #2ecc71;
    --clr-red: #c0392b;

    --box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0.14);

}


html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1467810563316-b5476525c0f9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 6rem;
    letter-spacing: 1px;
    margin: -8rem 0 4rem;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
}


body * {
    z-index: 1;
}


.countdown {
    display: flex;
    transform: scale(2);
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
}

.time h2 {
    margin: 0 0 .5rem;
}

@media (max-width: 500px ) {
    h1 {
        font-size: 4.5rem;
    }

    .time {
        margin: .5rem;
    }

    .time h2 {
        font-size: 1.2rem;
        margin: 0;
    }

    .time small {
        font-size: 1rem;
    }
}